@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: hsla(241, 63%, 50%, 1);
  --title-color: hsla(241, 63%, 15%, 1);
  --paragraph-color: hsla(241, 10%, 30%, 1);
  --btn-color: hsla(36, 90%, 55%, 1);
  --bg-color: hsla(0, 0%, 96%, 1);
  --form-color: hsla(0, 3%, 97%, 1);
  --form-text-color: hsla(241, 10%, 68%, 1);

  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Playfair Display', serif;

  --h1-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4rem;
    --h3-font-size: 3.75rem;
    --normal-font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--title-color);
}
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--title-color);
  font-weight: var(--fw-medium);
  font-family: var(--primary-font);
}

/* re-usable class */
.container {
  max-width: 1024px;
  margin-inline: 2rem;
}
/* end */

/* header style */
.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

.nav__logo span {
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 80%;
    text-align: center;
    margin-inline: auto;
    padding: 2rem 3rem;
    /* border: 1px solid black; */
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    transition: 0.3s;
  }

  .nav__item {
    margin-bottom: 2rem;
  }

  .nav__menu.show-menu {
    top: 80px;
  }
}

.nav__link {
  font-size: 1.25rem;
}

.nav__link.active {
  color: var(--primary-color);
  font-weight: var(--fw-semibold);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
}
/* end */

.main {
  margin-top: 3.75rem;
}

/* hero style */
.hero {
  /* background-image: url('../media/bg-image.png'); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3.75rem;
}

.hero__title {
  font-family: var(--secondary-font);
  font-size: var(--h1-font-size);
  color: #fff;
  font-weight: var(--fw-semibold);
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.button {
  background-color: var(--btn-color);
  border: none;
  padding: 15px 42px;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
}

.button:hover {
  background-color: hsla(36, 90%, 50%, 1);
}
/* end */

.section-title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-family: var(--secondary-font);
  font-weight: var(--fw-medium);
}

/* tour style */
.tour {
  margin-top: 120px;
}

.tour__container {
  display: grid;
  gap: 1.5rem;
  margin-top: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.tour__card {
  position: relative;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.tour__card:hover .tour__card-img {
  transform: scale(1.1);
}

.tour__card-img {
  border-radius: 1rem;
  object-fit: cover;
  width: 256px;
  height: 482px;
  transition: 0.3s;
}

.tour__data {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
}

.tour__data-title {
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
}

.tour__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* end tour */

.footer {
  background-color: var(--title-color);
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  margin-top: 220px;
}

.footer__title {
  font-family: var(--secondary-font);
  font-size: var(--h3-font-size);
}

.footer__social {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.footer__social-link {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-link i {
  color: var(--primary-color);
  font-size: 1.5rem;
}

/* about style */
.about-hero {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 3rem;
}

.about__container {
  display: grid;
  place-items: center;
  gap: 2rem;
}

.about__img {
  height: 482px;
  width: 317px;
}

.about__data-title {
  font-size: 3.75rem;
  font-family: var(--secondary-font);
  text-align: center;
}

.about__data-description {
  color: var(--paragraph-color);
  margin-bottom: 0.5rem;
}
/* end */

/* Contact Hero Section */

.contact-hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero__title {
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px #000;
}

/* Contact Form */

.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}

.contact__form {
  flex-basis: 60%;
  margin-right: 2rem;
}

.contact__form-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact__form-row {
  margin-bottom: 2rem;
}

.contact__form label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact__form input,
.contact__form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border: 2px solid #ccc;
  width: 100%;
}

.contact__form textarea {
  resize: vertical;
  min-height: 200px;
}

.contact__form-submit {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.contact__form-submit:hover {
  background-color: #333;
}

/* Contact Info */

.contact__info {
  flex-basis: 35%;
}

.contact__info-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact__info-description {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.contact__info-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__info-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
}

.contact__info-item i {
  color: #000;
  font-size: 1.8rem;
}


/* detail style */
.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
}

.detail {
  display: grid;
  gap: 2rem;
}
.detail__card {
}

.detail__card-img {
  width: 100%;
}

.detail__card-img-list {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.detail__card-img-item {
  width: 55px;
  height: 55px;
  border-radius: 15px;
}

.detail__card-img-item.active {
  border: 3px solid var(--btn-color);
}

.detail__card-data {
  margin-top: 2.5rem;
}

.detail__card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.detail__card-title h4 {
  font-size: 1.5rem;
}
.detail__card-title h5 {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.detail__card-title span {
  color: var(--paragraph-color);
}

.detail__card-description {
  margin-top: 1rem;
  color: var(--paragraph-color);
}

.detail__form {
  height: fit-content;
}

.detail__form-title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form__group-input {
  height: 56px;
  width: 100%;
  background-color: var(--form-color);
  border: none;
  outline: none;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: var(--form-text-color);
}

.form__group-input::placeholder,
.form__group-textarea::placeholder {
  color: var(--form-text-color);
}

.form__group-textarea {
  width: 100%;
  background-color: var(--form-color);
  border: none;
  outline: none;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color: var(--form-text-color);
}

.form__group .button-detail {
  margin-inline: auto;
  display: block;
}

/* end */

@media screen and (min-width: 769px) {
  /* header style */
  .nav__list {
    display: flex;
    column-gap: 2.5rem;
  }
  .nav__toggle {
    display: none;
  }
  /* end */

  /* hero style */
  .hero {
    background-position: initial;
  }
  /* end */

  /* tour style */
  .tour__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .tour__card-img {
    width: 325px;
    height: 482px;
  }
  /* end */

  /* about style */
  .about {
    margin-top: 200px;
  }
  .about__container {
    grid-template-columns: 0.5fr 1fr;
  }

  .about__data-title {
    text-align: initial;
  }
  /* end */

  /* detail style */
  .detail {
    grid-template-columns: 1fr 0.5fr;
  }

  .detail__card-img-item {
    width: 85px;
    height: 85px;
  }
  /* end */
}

@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }

  .tour__container {
    grid-template-columns: repeat(3, 1fr);
  }
}